<mat-toolbar color="primary">
  <a 
  *ngIf="!isLoggedIn"
  [routerLink]="'/'" 
    matIconButton class="example-icon"  
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>Quiz Game</span>
  <span class="example-spacer"></span>
    <a [routerLink]="'/login'" 
        matIconButton class="example-icon favorite-icon mr20 ml20" 
        aria-label="Example icon-button with heart icon">
        Login
    </a>
    <a 
        *ngIf="!isLoggedIn"
        [routerLink]="'/signup'" 
        matIconButton class="example-icon favorite-icon" 
        aria-label="Example icon-button with heart icon">
        Register
    </a>

    <a
        (click)="logout()"
        *ngIf="isLoggedIn" 
        matIconButton class="example-icon favorite-icon" 
        aria-label="Example icon-button with heart icon">
        Logout
    </a>

    <button
        *ngIf="isLoggedIn && user" 
        style="margin: right 50px;"
        mat-button
        class="example-icon favorite-icon" 
        aria-label="Example icon-button with heart icon">
       {{user.username}}
    </button>

</mat-toolbar>
